<div class="heading row">
  <div class="pull-left">
    <h2 class="title">trashed projects</h2>
  </div>
</div>

<div class="row">
  <div class="project" ng-repeat="project in projects">
    <div class="pull-right">
      <span ng-show="project == currentProject">{{state.context}}</span>
      <button class="btn btn-default" ng-click="revive(project)">
        <span class="glyphicon glyphicon-refresh" 
          ng-class="{ 'spinny': project == currentProject && state.isSyncing()}">
        </span> revive
      </button> 
    </div>
    <div class="title">{{project.title}}</div> 
    <div class="description">{{project.description}}</div>
    <tasks-renderer project="project" tasks="project.tasks"></tasks-renderer>
  </div>
</div>
