<div id="main-wrapper">
  <header class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
    <div class="container">
      <div class="row">
        <div class="navbar-header ">
          <a class="navbar-brand" href="/">planner</a>
        </div>
        <form class="navbar-form navbar-right" ng-if="!isSignedin">
          <a href="#!/signin" class="btn btn-default">Sign in</a>
        </form>
        <ul class="nav navbar-nav navbar-right" ng-if="isSignedin">
          <p class="navbar-text" ng-if="state.isSyncing()">
            <span class="spinny glyphicon glyphicon-refresh" ng-show="state.isSyncing()"></span> {{state.context}}
          </p>
          <li><p class="navbar-text">hi {{username}}</p></li>
          <li>
            <button class="btn btn-default navbar-btn" ng-click="signout()" ng-disabled="state.isSyncing()">
              Sign out
            </button>
          </li>
        </ul>
      </div>
    </div>
  </header>
  
  <div id="main-content">
    <div ng-controller="AlertsCtrl">
      <div ng-show="loading" class="alert-loading">
        <span class="glyphicon glyphicon-refresh spinny"></span> loading...
      </div>
    </div>

    <div ng-controller="BreadcrumbsCtrl" class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li ng-repeat="crumb in breadcrumbs" ng-class="{ 'active' : isActive(crumb) }">
            <span ng-if="isActive(crumb)">{{crumb.name()}} </span>
            <span ng-if="!isActive(crumb)" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
              <a ng-href="{{crumb.path()}}" itemprop="url"><span itemprop="title">{{crumb.name()}}</span></a>
            </span>
          </li>
        </ol>
      </div>
    </div>

    <div class="container">
      <ng-view></ng-view>
    </div>
  </div>

  <div ng-controller="GoogleAnalyticsCtrl"></div>
  
  <footer class="navbar navbar-fixed-bottom">
    <div class="container">
      <div class="row">
        <hr>
        <ul class="nav navbar-nav navbar-right">
          <p class="navbar-text">
            My cool footer!
          </p>
        </ul>
      </div>
    </div>
  </footer>
</div>
