
/* alert box variant variant */
@mixin alert-box($background-color, $shadow-color, $color) {
  background-color: $background-color;
  @include box-shadow(0px 1px 0px $shadow-color);
  color: $color;
}

@mixin make-item() {
  @include make-row();
  background: #fff;
  padding: 10px 15px 5px 15px;
  margin: 10px 0;
  border-radius: 5px;
  @include box-shadow($project-box-shadow 0px 1px 0px 0px);
}