a.project-link {
  text-decoration: none;
  display: block;
  .description {
    color: black;
  }
}

.project.empty {
  padding: 15px;
}

.project {
  @include make-item();
  .tasks {
    margin: 10px 0;
  }
  .tasks-table {
    margin: 0;
  }
}  

.code-url {
  padding-top: 10px;
}

.project-summary {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: inline;
    color: black;
    margin-right:0;
  }
}