.task {
  @include make-item();
  padding: 15px;
}

/* task statuses */
.label.not-started {
  @include label-variant($label-default-bg);
}
.label.completed {
  @include label-variant($label-success-bg);
}

.task-progress {
  label {
    font-weight: normal;
    margin-right: 20px;
    line-height: 30px;
  }
}