<span class="tagpicker" ng-class="{'focused': focused}" ng-click="triggerFocus()">
  <ul tag-autocomplete>
    <li ng-repeat="tag in tags" class="tag">{{tag}} 
      <span class="delete glyphicon glyphicon-remove" ng-click="deleteTag(tag)"></span> 
    </li>
    <li class="new-tag">
      <input placeholder="add a tag" type="text"  
        ng-model="currentTag" tag-input
      >
    </li>
    <li class="results" ng-show="results.data.length > 0">
      <ul>
        <li class="result" ng-repeat="result in results.data" 
          ng-class="{ 'selected': result == getSelection()}"
          ng-mouseover="selectResult(result)"
          ng-mousedown="createNewTag(result)">{{result}}
        </li>
      </ul>
    </li>
  </ul>
</span>