<div class="tasks">
  <div ng-if="!tasks.length">
    <span class="subtle">There are no tasks for this project yet.</span>
  </div>
  <div ng-if="tasks.length">
    <table class="table table-hover table-condensed table-striped tasks-table">
      <colgroup>
        <col class="col-md-2">
        <col class="col-md-1">
        <col class="col-md-7">
        <col class="col-md-2">
      </colgroup>
      <thead>
        <tr>
          <th>title</th>
          <th>status</th>
          <th>description</th>
          <th></th>
        </tr>
      </thead>
      <tbody> 
        <tr class="link" ng-repeat="task in tasks" ng-click="redirectTo($event, tasksPath(project, task))">
          <td><a class="hidden-link" ng-href="#!{{tasksPath(project, task)}}">{{task.title}}</a></td>
          <td><span class="label" ng-class="task.status | humanize:'-'">{{task.status | humanize}}</span></td>
          <td>{{task.description | truncate:140}}</td>
          <td><taglist tags="task.tags" limit="2" path="/projects/{{project.id}}"></taglist></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
